<%- include('../components/header') %>

<h2>Detalles del Restaurante</h2>

<p><strong>Nombre:</strong> <%= restaurante.nombre %></p>

<p><strong>Logo:</strong></p>
<img src="<%= restaurante.logo %>" width="150" />

<hr />
<h3>Hamburguesas asociadas:</h3>

<% if (restaurante.hamburguesas.length > 0) { %>
  <ul>
    <% restaurante.hamburguesas.forEach(h => { %>
      <li><strong><%= h.nombre %></strong> - $<%= h.precio %></li>
    <% }) %>
  </ul>
<% } else { %>
  <p>Este restaurante no tiene hamburguesas registradas.</p>
<% } %>

<br>
<a href="/admin/restaurantes">Volver</a>

<%- include('../components/footer') %>
